html,body {
	background-image: url('./p.png') ;
	margin:0;
	background-size: cover;
	background-repeat: no-repeat;
	height:100%;
	background-color: black;
}

.center{
	display:flex;
	justify-content:center ;
}